body {
    margin: 0;
    height: 100vh;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: row;
}

p {
    font-size: 18px;
    font-weight: 500;
}

.image {
    width: min(800px, 30vw);
    background-image: url(images/photo-1444080748397-f442aa95c3e5.jpeg);
    background-size: cover;
    background-position: center;
}

.form {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    background-color: rgba(34, 30, 48, 0.568);
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
}

.logo > img {
    width: 80px;
    color: white;
}

.form-container {
    background-color: white;
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 1fr 1fr 1fr;
}

.form-container > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.form-container > div > input {
    font-weight: 100;
    width: 15rem;
}